.dashboard {
  grid-column: 2;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.dashboard-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 32px 0;
  border-bottom: none;
}

.dashboard-nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  border-bottom: none;
  transition: all 0.3s;
}

.dashboard-nav a:hover {
  color: #111827;
}

.dashboard-nav a.active {
  color: #FF385C;
}

.order-list-container {
  padding: 0;
}

.dashboard-analytics {
  padding: 5px;
  margin-bottom: 48px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  font-size: 18px;
}

@media (min-width: 800px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, minmax(300px, 450px));
  }
  
  .dashboard-content {
    width: auto;
  }
}

@media (min-width: 1000px) {
  .dashboard-grid {
    justify-content: center;
  }
}

@media (min-width: 1250px) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .dashboard-nav {
    margin: 20px 0;
  }

  .dashboard {
    padding: 0 20px;
  }
}

.dashboard-content {
  padding: 0;
  max-width: 100%;
}

.dashboard-card {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  max-height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-card h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #111827;
}

.status-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.status-count {
  font-size: 1.5rem;
  font-weight: 600;
}

.status-count.pending {
  color: orange;
}

.status-count.approved {
  color: green;
}

.status-count.rejected {
  color: red;
}

.chart {
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 180px;
}

.chart canvas {
  max-height: 180px;
}

.order-count {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #111827;
  padding: 0 5px;
}

.orders-table {
  background: white;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 5px;
}

.orders-table table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th {
  text-align: left;
  padding: 1rem;
  font-weight: 500;
  color: #6b7280;
  border-bottom: 1px solid #e5e7eb;
  font-size: 0.875rem;
}

.orders-table td {
  padding: 1rem;
  border-bottom: 1px solid #f3f4f6;
  font-size: 0.875rem;
}
