.hide-collapsed-search .collapsed-search-btn {
  display: none;
}


.user-trips-page {
    padding-top: 80px;
    max-width: 1080px;
    margin: 0 auto;
    font-family: "Airbnb Cereal VF",
        Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    display: flex;
    flex-direction: column;
}

.page-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #222;
}

.trips-empty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin-top: 40px;
}

.empty-state-content {
    flex: 1;
    max-width: 450px;
}

.empty-state-content h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #222;
}

.empty-state-content p {
    font-size: 16px;
    color: #222;
    line-height: 1.4;
    margin-bottom: 24px;
}

.empty-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.empty-img-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.user-trips-page {
    position: relative;
}

.user-trips-page .special-btn {
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-family: "Airbnb Cereal VF",
        Circular,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Helvetica Neue,
        sans-serif;
    height: 48px;
    padding: 0 24px;
    width: fit-content;
    border-radius: 999px;
}


.orders-list {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin-bottom: 40px;
}

.trip-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 24px 0;
}

.img-container {
    width: 120px;
    height: 90px;
    flex-shrink: 0;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.trip-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-main h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.info-main .dates {
    margin: 4px 0 0;
    color: #717171;
    font-size: 14px;
}

.row-divider {
    border: none;
    border-top: 1px solid #DDDDDD;
    margin: 0;
}

.status-label {
    font-weight: 600;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.stay-description .show-more-btn {
    align-self: flex-start;
    margin-left: 0;
}


.status-label.approved {
    color: #22C55E;
}

.status-label.pending {
    color: #ff9800;
}

.status-label.rejected {
    color: #FF5A5F;
}