.app-footer {
    background-color: var(--clr-bg-light);
    border-top: 1px solid var(--clr-border);
    padding: 0 80px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        max-width: 1920px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .footer-left,
    .footer-right {
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 14px;
        color: var(--clr-text-main);
    }

    .footer-left {
        a {
            color: var(--clr-text-main);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer-right {
        a {
            color: var(--clr-text-main);
            font-weight: 600;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;

            &:hover {
                background-color: var(--clr-icon-hover);
            }
        }

        .local-services,
        .remote-services {
            font-weight: 500;
            color: brown;
        }
    }
}