.google-map-container {
    flex: 1;
    align-self: flex-start;
    position: sticky;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    padding: 20px 0;

    .map-wrapper {
        height: 100%;
    }

    .map {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .map-marker {
        border-radius: 28px;
        padding: 6px 8px;
        background-color: white;
        font-size: 14px;
        font-weight: 700;
        color: black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0px 2px 4px 0px rgba(0, 0, 0, 0.18),
            0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    }
}
