.google-map-container {
    flex: 1;
    align-self: flex-start;
    position: sticky;
    top: calc(var(--header-height) + 32px  );
    height: calc(100vh - var(--header-height));
    padding: 0 28px 54px 0;
    margin-bottom: 24px;

    .map-wrapper {
        height: 100%;
    }

    .map {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .map-marker {
        border-radius: 28px;
        padding: 6px 8px;
        background-color: white;
        font-size: 14px;
        font-weight: 700;
        color: black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0px 2px 4px 0px rgba(0, 0, 0, 0.18),
            0px 0px 0px 1px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }

        &.selected-marker {
            background-color: black;
            color: white;
        }

        &:has(.house-marker) {
            border-radius: 50%;
            width: 32px;
            height: 32px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .map-stay-preview {
        padding: 0;
        margin-bottom: 40px;
        position: relative;

        .stay-preview {
            min-width: 250px;
            max-width: 280px;
            background-color: white;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
            border-radius: 20px;

            .stay-inner-details {
                padding: 0 10px 10px;
            }
        }

        .close-marker {
            position: absolute;
            display: flex;
            background-color: white;
            color: black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            z-index: 5;
            top: 10px;
            right: 12px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .favorite-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 50px;
            margin-top: 3px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 50%;
            width: 30px;
            height: 30px;

            .favorite {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .stay-inner-img {
            img {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
    }
}
