.google-map-container {
    flex: 1;
    align-self: flex-start;
    position: sticky;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    padding: 20px 0;

    .map-wrapper {
        height: 100%;
    }

    .map {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

