.stay-preview {
    display: flex;
    white-space: normal;
    flex-direction: column;
    gap: 8px;
    a {
        color: var(--clr4);
        padding: 0;
    }
    p {
        margin-block: 0 0.2rem;
        font-size: 0.85em;
    }
    img {
        width: 100%;
        display: block;
        aspect-ratio: 250 / 240;
        border-radius: 20px;
    }
    h4 {
        margin-bottom: 0;
        font-size: 0.8125rem;
        color: rgb(34, 34, 34);
        font-weight: 500;
    }
    .stay-inner-details {
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
        color: rgb(106, 106, 106);
        font-weight: 300;
    }

    &:hover {
        text-decoration: none;
    }

    .stay-inner-img {
        position: relative;

        .img-overlay {
            position: absolute;
            inset: 0;
            width: 100%;

            .favorite {
                position: absolute;
                right: 12px;
                top: 12px;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
