.stay-list-container{
    flex-basis: 50%;
}

.stay-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 24px;
    flex-wrap: wrap;
    list-style: none;

    padding: 20px 80px;
}