.stay-explore-list {
    --total-columns: 8;
    --visible-cards: 7;
    --card-gap: 11px;
    margin: 0;

    --card-width: calc(
        (100% - (var(--card-gap) * (var(--visible-cards) - 1))) / var(--visible-cards)
    );

    display: grid;
    grid-template-columns: repeat(var(--total-columns), var(--card-width));
    gap: var(--card-gap);
    list-style: none;
}

.loc-chev-link {
    margin-left: 2px;
}

@media (max-width: 1440px) {
    .stay-explore-list {
        --visible-cards: 6;
    }
}

@media (max-width: 1130px) {
    .stay-explore-list {
        --visible-cards: 5;
    }
}

@media (max-width: 950px) {
    .stay-explore-list {
        --visible-cards: 4;
    }
}

@media (max-width: 768px) {
    .stay-explore-list {
        --visible-cards: 2;
        --card-gap: 16px;
    }

    .explore-list-container {
        --padding: 10px;
        max-width: 100%;
        overflow-x: hidden;
    }
}

.explore-list-container {
    --padding: 26px;

    position: relative;
    padding: 0px var(--padding);
    max-width: 1920px;
}

.explore-grid-container {
    --scroll-btn-size: 28px;
    --scroll-btn-spacing: 4px;

    scroll-behavior: smooth;

    white-space: noWrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button(right) {
        right: var(--padding);
        content: '';
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path></svg>');
        background-size: 0.75rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    &::scroll-button(left) {
        right: calc(var(--scroll-btn-size) + var(--scroll-btn-spacing) + var(--padding));
        content: '';
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;"><path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path></svg>');
        background-size: 0.75rem;
        background-repeat: no-repeat;
        background-position: center;
    }

    &::scroll-button(right),
    &::scroll-button(left) {
        top: 8px;
        position: absolute;
        border: none;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1;
        height: var(--scroll-btn-size);
        width: var(--scroll-btn-size);
        border-radius: 50%;
        cursor: pointer;
        background-color: #F2F2F2;
        transition: 0.25s transform, 0.2s background-color;

    }

    &::scroll-button(right):disabled,
    &::scroll-button(left):disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }

    &::scroll-button(right):hover,
    &::scroll-button(left):hover {
        transform: scale(1.1);
        background-color: #EBEBEB;
    }
}

.stay-list-title-row {
    h2,
    a {
        font-size: 1.25rem;
        font-weight: 600;
        color: rgb(34, 34, 34);
        margin-bottom: 0;
        text-decoration: none;
    }
    margin-bottom: 15px;
}
