.stay-list-container {
    flex-basis: 58%;

    .stay-list-title {
        font-size: 0.875rem;
        padding: 20px 48px 0 28px;
        font-weight: 500;
    }
}

.stay-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
    flex-wrap: wrap;
    list-style: none;

    padding: 0 48px 20px 28px;
}

@media (max-width: 1130px) {
    .stay-list {
        grid-template-columns: 1fr;
        padding: 20px 32px 20px 12px;
    }
}
