.stay-preview {
    display: flex;
    white-space: normal;
    flex-direction: column;
    gap: 8px;
    a {
        color: var(--clr4);
        padding: 0;
    }
    p {
        margin-block: 0 0.2rem;
        font-size: 0.85em;
    }
    img {
        width: 100%;
        display: block;
        aspect-ratio: 250 / 240;
        border-radius: 20px;
        object-fit: cover;
    }
    h4 {
        margin-bottom: 0;
        font-size: 0.9375rem;
        color: rgb(34, 34, 34);
        font-weight: 500;

        .filtered-rating {
            font-weight: 400;
            white-space: noWrap;
        }
    }

    .filtered-summary {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 1.18;

        .stay-summary-content {
            word-break: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* The number of lines after which to clamp the text */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .stay-inner-details {
        display: flex;
        flex-direction: column;
        font-size: 0.8125rem;
        color: rgb(106, 106, 106);
    }

    .filtered-price {
        margin-top: 6px;
        color: rgb(34, 34, 34);
        font-weight: 500;
        text-decoration: underline;
    }

    &:hover {
        text-decoration: none;
    }

    .stay-inner-img {
        position: relative;

        .img-overlay {
            position: absolute;
            inset: 0;
            width: 100%;

            .favorite-icon-container {
                position: absolute;
                right: 12px;
                top: 12px;
                cursor: pointer;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .filtered-title {
        display: flex;
        justify-content: space-between;
        font-size: 0.9375rem;
    }

    .explore-title {
        font-size: 0.8125rem;
    }

    .explore-details {
        font-size: 0.75rem;
    }

    .filtered-beds-capacity {
        margin-bottom: 12px;
    }
}
