.stay-explore-list {
    --total-columns: 8;
    --visible-cards: 7;
    --card-gap: 11px;

    --card-width: calc(
        (100% - (var(--card-gap) * (var(--visible-cards) - 1))) / var(--visible-cards)
    );

    display: grid;
    grid-template-columns: repeat(var(--total-columns), var(--card-width));
    gap: var(--card-gap);
    list-style: none;
}

.loc-chev-link {
    margin-left: 2px;
}

@media (max-width: 1440px) {
    .stay-explore-list {
        --visible-cards: 6;
    }
}

@media (max-width: 1130px) {
    .stay-explore-list {
        --visible-cards: 5;
    }
}

@media (max-width: 950px) {
    .stay-explore-list {
        --visible-cards: 4;
    }
}

.explore-list-container {
    --padding: 44px;

    position: relative;
    padding: 0px var(--padding);
    max-width: 1920px;
}

.explore-grid-container {
    --scroll-btn-size: 28px;
    --scroll-btn-spacing: 4px;

    scroll-behavior: smooth;

    white-space: noWrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button(right) {
        right: var(--padding);
        content: '>';
    }

    &::scroll-button(left) {
        right: calc(var(--scroll-btn-size) + var(--scroll-btn-spacing) + var(--padding));
        content: '<';
    }

    &::scroll-button(right),
    &::scroll-button(left) {
        top: 8px;
        position: absolute;
        border: none;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1;
        height: var(--scroll-btn-size);
        width: var(--scroll-btn-size);
        border-radius: 50%;
        cursor: pointer;
    }
}

.stay-list-title-row {
    h2,
    a {
        font-size: 1.25rem;
        font-weight: 600;
        color: rgb(34, 34, 34);
        margin-bottom: 0;
        text-decoration: none;
    }
}
