.stay-explore-list {
    display: grid;
    grid-template-columns: repeat(8, 250px);
    gap: 11px;
    flex-wrap: wrap;
    list-style: none;
}
.explore-list-container {
    position: relative;

}

.explore-grid-container {
    --scroll-btn-size: 28px;
    --scroll-btn-spacing: 4px;
    scroll-behavior: smooth;

    white-space: noWrap;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button(right) {
        right: 0;
        content: '>';
    }

    &::scroll-button(left) {
        right: calc(var(--scroll-btn-size) + var(--scroll-btn-spacing));
        content: '<';
    }

    &::scroll-button(right),
    &::scroll-button(left) {
        top: 8px;
        position: absolute;
        border: none;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1;
        height: var(--scroll-btn-size);
        width: var(--scroll-btn-size);
        border-radius: 50%;
        cursor: pointer;
    }
}

.stay-list-title-row {
    h2 {
        margin-bottom: 0;
    }
}
