.wishlist-container {
    --header-height: 80px;
    display: flex;
    align-items: flex-start;

    .stay-list-title {
        font-size: 2rem;
        font-weight: 600;
    }
}

.main-container main.wishlist-container {
    overflow: visible;
}
