.stay-details-layout {
  display: grid;
  grid-template-columns: minmax(0, 2fr) 1fr;
  gap: 80px;
  align-items: start;
}

.stay-details-main {
    min-width: 0;
}

.stay-header {
  margin-bottom: 16px;
}

.stay-title-main {
  font-size: 26px;
  font-weight: 400;
  /* line-height: 30px; */
  letter-spacing: -0.02em;
  color: #222222;
  /* fix the margin-top from the parent!! */
  margin-top: 20px;
  margin-bottom: 20px;
}

.stay-subtitle {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.stay-rating-row {
  margin-top: 8px;

  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  line-height: 18px;
  color: #222222;
}

.stay-rating-row .rating {
  font-weight: 600;
}

.stay-rating-row .reviews {
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  opacity: 0.5;
}

.stay-details-main {
  min-width: 0;
}


