.stay-description {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    margin-top: 24px;
}

.description-preview {
    font-size: 16px;
    line-height: 1.5;
    color: #222;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* .stay-description {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  margin-top: 24px;
  position: relative;
}

.stay-description::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #ddd;

  width: 100%;
  margin-top: 32px;
} */
