
.stay-amenities {
  border-top: 1px solid var(--clr-border);
  padding-top: 32px;
  margin-top: 32px;
  /* grid-column: 1; */
  grid-column: 1 / 2;
  overflow: hidden;
  justify-self: start;
}

.stay-amenities h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}

.amenities-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 24px;
  list-style: none;
  padding: 0;
  margin: 0 0 24px;
}

.amenities-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #222;
  line-height: 1.4;
  padding-inline-end: 64px;
}


.amenities-list li span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
}



.amenities-modal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.amenities-modal-list li {
  display: flex;
  align-items: center; 
  gap: 12px;
  font-size: 16px;
  padding: 10px 0;
  color: #222;
  line-height: 1.4;
}

.amenities-modal-list li span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
}

.stay-amenities .show-more-btn {
  justify-self: start;
  margin-left: 0;
}

@media (max-width: 600px) {
  .amenities-list {
    grid-template-columns: 1fr;
  }
}
