.stay-details-layout {
  display: grid;
  grid-template-columns: minmax(0, 2fr) 1fr;
  gap: 80px;
  align-items: start;
  position: relative;
}

.stay-booking {
  position: sticky;
  top: 16px;
  align-self: start;
  justify-self: end;
  width: 100%;
  max-width: 372px;
}


.stay-sticky-scope {
  display: block;
}


.stay-details-main {
    min-width: 0;
}

.stay-header {
  margin-bottom: 16px;
}

.stay-title-main {
  font-size: 26px;
  font-weight: 400;
  /* line-height: 30px; */
  letter-spacing: -0.02em;
  color: #222222;
  /* fix the margin-top from the parent!! */
  margin-top: 20px;
  margin-bottom: 20px;
}

.stay-subtitle {
  margin-top: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.stay-rating-row {
  margin-top: 8px;

  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  line-height: 18px;
  color: #222222;
}

.stay-rating-row .rating {
  font-weight: 600;
}

.stay-rating-row .reviews {
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  opacity: 0.5;
}

.stay-details-main {
  min-width: 0;
}


/* reviews */
.stay-reviews {
  grid-column: 2;
  column-count: 2;
  column-gap: 32px;
}


.review-card {
  display: inline-block; 
  width: 100%;
  margin: 0 0 32px;

  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}


.review-header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.review-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.show-more {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: #222222;
}


.stay-amenities::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #ddd;
  margin-bottom: 30px;
}
 /* the map area  */

 .stay-location {
  grid-column: 2;
  margin-bottom: 64px;
}

.location-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.location-subtitle {
  color: #717171;
  margin-bottom: 24px;
}

.location-map-container {
  height: 420px;
  border-radius: 12px;
  overflow: hidden;
  background: #eaeaea;
}

.map-placeholder {
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}
