.stay-highlights {
    margin-top: 32px;
    padding-top: 24px;
}

.highlight {
    display: grid;
    grid-template-columns: 24px 1fr;
    column-gap: 16px;
    margin-bottom: 24px;
}

.highlight:last-child {
    margin-bottom: 0;
}

.highlight .icon {
    font-size: 22px;
    color: var(--clr-text-main);
    line-height: 1;
    margin-top: 2px;
}

.highlight h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-text-main);
    line-height: 1.25;
}

.highlight p {
    margin: 4px 0 0;
    font-size: 14px;
    color: var(--clr-text-sub);
    line-height: 1.4;
}