* {
    box-sizing: border-box;
}

:root {
    --font-primary: 'Cereal', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


html {
    line-height: 1.6;
    color: var(--clr2);
}

body {
    margin: 0 auto;
    font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

h1 {
    font-weight: 700;
    /* Bold */
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
    font-family: inherit;
}

strong {
    font-weight: 600;
    /* Semi-Bold */
}