.main-container {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 1920px) minmax(20px, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;


    >* {
        grid-column: 2;
        width: 100%;

        &.full {
            grid-column: 1 / -1;
        }
    }

}

.inner-container {
    max-width: 1920px;
    margin-inline: auto;
    padding-inline: 20px;
    width: 100%;
}