/* @font-face {
    font-family: 'Cereal';
    src: url('../fonts/CerealVF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
} */

/* Apply the font globally.
*/

body {
    font-family: var(--font-primary);
    /* Optional: Enable font features if the font supports them */
    font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Cereal (Web) */
/* Tip: for production, convert these OTF files to WOFF2 and list WOFF2 first ASK ASI */

@font-face {
  font-family: "Cereal";
  src: url("../../../../fonts/AirbnbCereal_W_Lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cereal";
  src: url("../../fonts/AirbnbCereal_W_Bk.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cereal";
  src: url("../../fonts/AirbnbCereal_W_Md.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cereal";
  src: url("../../fonts/AirbnbCereal_W_Bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cereal";
  src: url("../../fonts/AirbnbCereal_W_XBd.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cereal";
  src: url("../../fonts/AirbnbCereal_W_Blk.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
