/*  Setup */
@import 'setup/_variables.css';
@import 'setup/_typography.css';

/*  Basics*/
@import 'basics/_layout.css';
@import 'basics/_base.css';
@import 'basics/_forms.css';

/*  pages*/
@import 'RootCmp.css';

/*  @import "pages/HomePage";*/
@import 'pages/UserDetails.css';
@import 'pages/TaskDetails.css';
@import 'pages/LoginSignup.css';
@import 'pages/Chat.css';
@import 'pages/StayDetails/StayDetails.css';
@import 'pages/StayCheckout.css';
@import 'pages/Explore.css';
@import 'pages/UserProfile.css';

/*  Components*/
@import 'cmps/list.css';
@import 'cmps/preview.css';
@import 'cmps/StayIndex.css';
@import 'cmps/Carousel.css';
@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'cmps/UserMsg.css';
@import 'cmps/SpecialBtn.css';
@import 'cmps/ReviewEdit.css';
@import 'cmps/ReviewList.css';
@import 'cmps/ReviewPreview.css';
@import 'cmps/StayList.css';
@import 'cmps/StayExploreList.css';
@import 'cmps/StayPreview.css';
@import 'cmps/StaySearch.css';
@import 'cmps/DatePicker.css';
@import 'cmps/GuestCounterRow.css';
@import 'cmps/GoogleMaps.css';
@import 'cmps/LoginModal.css';
@import 'cmps/OrderList.css';
@import 'cmps/OrderPreview.css';
@import 'cmps/ListingList.css';
@import 'cmps/ListingPreview.css';
@import 'cmps/StaySearchCollapsed.css';
@import 'cmps/ListingForm.css';
@import 'cmps/WishList.css';
