/*  Setup */
@import 'setup/_variables.css';
@import 'setup/_typography.css';

/*  Basics*/
@import 'basics/_layout.css';
@import 'basics/_base.css';
/*  @import "basics/links.css";*/
@import 'basics/_forms.css';

/*  pages*/
@import 'RootCmp.css';

@import 'pages/AboutUs.css';
/*  @import "pages/HomePage";*/
@import 'pages/CarIndex.css';
@import 'pages/UserDetails.css';
@import 'pages/TaskDetails.css';
@import 'pages/LoginSignup.css';
@import 'pages/Chat.css';

/*  Components*/
@import 'cmps/list.css';
@import 'cmps/preview.css';

@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'cmps/UserMsg.css';
@import 'cmps/CarFilter.css';
@import 'cmps/ReviewEdit.css';
@import 'cmps/ReviewList.css';
@import 'cmps/ReviewPreview.css';
@import 'cmps/StayList.css';
@import 'cmps/StayPreview.css';
@import 'cmps/StaySearch.css';
@import 'cmps/DatePicker.css';
@import 'cmps/GuestCounterRow.css';